@page
@model PrivacyModel
@{
    ViewData["Title"] = "Våra villkor";
}
<h1>@ViewData["Title"]</h1>

<div style="font-family: Arial, sans-serif; line-height: 1.6; font-size: 16px; color: #333;">
    <h2 style="text-align: center; font-size: 24px; color: #007bff;">Välkommen till Kidzplayground</h2>
    <p>
        Denna sida beskriver vår policy och våra praxis när det gäller insamling, användning och delning av information som vi får från användare av denna webbplats.
    </p>
    <p>
        Vi tar din integritet på allvar och strävar efter att säkerställa att all personlig information som du ger oss behandlas på ett säkert och ansvarsfullt sätt. Vi samlar endast in information som är nödvändig för att förbättra din upplevelse av vår webbplats och för att tillhandahålla de tjänster och funktioner som du efterfrågar.
    </p>
    <p>
        När du använder vår webbplats kan vi komma att samla in viss information automatiskt, inklusive information om din webbläsare, din enhet och din IP-adress. Vi använder denna information för att förstå hur våra besökare använder webbplatsen och för att förbättra dess funktionalitet och prestanda.
    </p>
    <p>
        Vi använder även cookies för att samla in information och förbättra användarupplevelsen. Cookies är små textfiler som lagras på din enhet när du besöker en webbplats. Genom att använda våra tjänster samtycker du till användningen av cookies enligt vår Cookie-policy.
    </p>
    <p>
        Vi säljer inte, handlar eller på annat sätt överför personlig information till tredje part utan ditt samtycke, förutom enligt vad som krävs enligt lag.
    </p>
    <p>
        Vi vidtar lämpliga åtgärder för att skydda personlig information mot förlust, missbruk, obehörig åtkomst, avslöjande, ändring och förstörelse. Vi strävar efter att säkerställa att all personlig information som vi samlar in förvaras säkert och i enlighet med tillämpliga lagar om dataskydd.
    </p>
    <p>
        Vi förbehåller oss rätten att ändra denna sekretesspolicy när som helst, så var noga med att granska den regelbundet. Genom att fortsätta använda denna webbplats samtycker du till vår sekretesspolicy och eventuella ändringar som vi kan göra. Om du har frågor eller funderingar om vår sekretesspolicy, vänligen kontakta oss.
    </p>
</div>
